[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
